{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">

			{% if category.name=="Family" %}
			<h1>Trips for families</h1>
			<figure class="creator">
				<img src="/static/family.jpg" >
			</figure>

			{% elif category.name=="Couple" %}
			<h1>Trips for couples</h1>
			<figure class="creator">
				<img src="/static/couple.jpg" >
			</figure>

			{% elif category.name=="Single" %}
			<h1>Trips for singles</h1>
			<figure class="creator">
				<img src="/static/single.jpg" >
			</figure>

			{% elif category.name=="Business" %}
			<h1>Trips for business</h1>
			<figure class="creator">
				<img src="/static/business.jpg" >
			</figure>

			{% endif %}
			</h1>


		</div>
	</div>

	<div class="error">{{error}}</div>


<div class = 'flash'>

	  {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('newTrip', category_id = category.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Trip
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>

	{% if trips !=[] %}
		<div class="row">
				{% for i in trips %}
					<div class="col-md-3">

						<h3>{{i.name}}</h3>
						<p>{{i.description}}</p>
						<p class="menu-price">{{i.price}} $</p>
						<p>{{i.transport}}</p>
						<p>{{i.duration}} days</p>
						<a href='{{url_for('editTrip', category_id = category.id, trip_id=i.id ) }}'>Edit</a> |
						<a href='{{url_for('deleteTrip', category_id = category.id, trip_id=i.id ) }}'>Delete</a>
						<br>
						<br>
						<h4>by {{ creator.name }}</h4>

					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock %}